data/
IAM/
__pycache__/
SAM/checkpoints/
IAM/checkpoints/
SGD/checkpoints/
SAM/results/
IAM/results/
SGD/results/
SAM/wandb/
SGD/wandb/
SAM/*.txt
IAM/*.txt
SGD/*.txt
SAM/*.png
IAM/*.png
SGD/*.png
IAMloss.py