data/
IAM/
__pycache__/
SAM/checkpoints/*.pth
IAM/checkpoints/*.pth
SGD/checkpoints/*.pth
SAM/results/*.txt
IAM/results/*.txt
SGD/results/*.txt
SAM/*.txt
IAM/*.txt
SGD/*.txt
SAM/results/*.png
IAM/results/*.png
SGD/results/*.png
SAM/*.png
IAM/*.png
SGD/*.png